# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Other
.idea
.vscode
.extra
.path

# Ssh
.ssh/*.pem
.ssh/*.pk
.ssh/known_hosts


